#button{
	background-color: #e2e4e6;
    border: none;
    border-bottom: 2px solid #bcbec2;
}
#plusIcon{
	font-size: 7vw;
}
@media only screen and (max-width: 900px) {
  #plusIcon {
    font-size: 10vw;
  }
}