.App {
  text-align: center;
}

#editButton{
  font-family: 'Titillium Web', sans-serif;
  width: fit-content;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 0.3rem;
}
#editButton:hover{
  cursor: pointer;
  background-color: #ffc6c6;

}
