#card{
	border-radius: 0;
	background: none;
}

h4{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	margin: 0;
	word-break: break-all;
}

.headings{
	border: 1px solid #c5c5c5;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 10px;
}

.bills{
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	word-break: break-all;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

.editColumn h4{
	font-weight: 300;
}
.editColumn h4:hover{
	cursor: pointer;
	background-color: yellow;
}
.totalRow{
	border-top: 1px solid black;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	padding: 10px;
}
@media only screen and (max-width: 768px) {
  .editColumn {
    flex-direction: column;
  }
}